{% extends "base.html" %}

{% block title %}Changelogs{% endblock %}

{% block content %}
<h1>Changelogs</h1>

{% if is_admin %}
<a class="submit-idea-cta" href="/{{ layout.org_slug }}/changelogs/new">
    <span aria-hidden="true">+</span>
    <span>Submit a changelog</span>
</a>
{% endif %}

<ul class="idea-list">
    {% for item in changelogs %}
    <li class="idea-card">
        <div class="idea-main">
            <a class="idea-title" href="/{{ layout.org_slug }}/changelogs/{{ item.id }}">{{ item.title }}</a>
            <p class="idea-excerpt">{{ item.excerpt() }}</p>
            <div class="idea-meta">
                <time>{{ item.created_date() }}</time>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
